@charset "utf-8";
@function px2rem($px){
    $rem:40px;
    @return ($px/$rem)+rem;
}
$color:#00bcd4;

@mixin radius($val){
    -webkit-border-radius:$val;    
    -moz-border-radius:$val;   
    border-radius:$val;
}
@mixin boxshodow($val){
    -webkit-box-shadow: $val;    
    -moz-box-shadow: $val;    
    box-shadow: $val;
}
%clear{
      content:"";
        height:0;
        display: block;
        clear: both;
        visibility: hidden;
}
%font-size-no{
    font-size: 0;
    -webkit-text-size-adjust: none;
}


%ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

%borderbox{
    -webkit-box-sizing: border-box;   
    -moz-box-sizing: border-box;   
    box-sizing: border-box;
}